
#hello{
    background-color: #D9E1E8;
}
#logo{
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block; 
    margin: 10px auto 10px;
}
.button{
    margin: 35px auto;
    color:#333; 
    transition:all 0.9s, color 0.3;
}
#button1{
    width: 200px;
    height: 70px;
    margin: 0px 50px;
}
#button2{
    width: 200px;
    height: 70px;
    margin: 0px 50px;
    
}
.hover1:hover{
    width: 200px;
    height: 70px;
    margin: 0px 50px;
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}
.hover2:hover{
    width: 200px;
    height: 70px;
    margin: 0px 50px;
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}